-# Sounds have been taken from http://www.orangefreesounds.com/
= content_for :title, 'Today | Daily Manager'
= render 'shared/nav'

%main.px-5{ data: { controller: 'today' } }
  = render 'shared/alerts'
  
  .flex.text-lg.mb-4.lg:mb-10.lg:text-2xl
    .flex-1
      %a.navigation-arrow.sm:px-4.sm:py-1{href: '/history'}
        %i.fas.fa-angle-double-left
    .black-bottom.mx-0.w-48.text-center.lg:w-64
      = today_long
    .flex-1.text-right
      %a.navigation-arrow.sm:px-4.sm:py-1
        %i.fas.fa-angle-double-right.hidden
  .tasks-wrapper{ class: 'sm:flex sm:justify-between sm:items-start' }
    #to-do.card-group.bg-group.rounded.px-4.py-4.shadow.relative{ class: 'sm:flex-1 sm:mb-6 sm:mt-4 sm:mx-2 lg:mx-6'}
      .card-top
        .card-title
          TO DO
      - spinner
      .placeholder-card.card.relative.px-4.py-4.bg-light.rounded.mt-2.shadow
      .placeholder-card.card.relative.px-4.py-4.bg-light.rounded.mt-2.shadow
      .placeholder-card.card.relative.px-4.py-4.bg-light.rounded.mt-2.shadow
    #done.card-group.bg-light-main.rounded.px-4.py-4.mt-4.shadow.mb-6.relative{ class: 'sm:flex-1 sm:mx-2 lg:mx-6' }
      .card-top.flex.justify-between
        .card-title
          DONE
        #done-percent.rounded.shadow.px-1
          0%
      - spinner
      .placeholder-card.card.relative.px-4.py-4.bg-light.rounded.mt-2.shadow
      .placeholder-card.card.relative.px-4.py-4.bg-light.rounded.mt-2.shadow
      .placeholder-card.card.relative.px-4.py-4.bg-light.rounded.mt-2.shadow
