.tasks-wrapper{ class: 'sm:flex sm:justify-between sm:items-start', data: { controller: 'stopwatch', stopwatch_active_card: '-1'} }
  #to-do.card-group.bg-group.rounded.px-4.py-4.shadow.relative{ class: 'sm:flex-1 sm:mb-6 sm:mt-4 sm:mx-2 lg:mx-6'}
    .card-top
      .card-title
        TO DO
    #nothing-to-do{ class: "#{'hidden' unless @todo_tasks.empty?}" }
      %i.fas.fa-crown.block.absolute
      %i.fas.fa-hiking.block.absolute
      .absolute
        No tasks left!
    - @todo_tasks.each do |task|
      .card.relative.px-4.py-4.bg-light.rounded.mt-2.shadow{ id: "task-#{task.daily_task_id}", data: { id: task.task_id } }
        .progress-bar.bg-main.h-1.absolute.left-0.top-0{ style: "width: #{task.percent};" }
        .internal-card.flex.justify-between
          .left-card-side
            = task.name
            .time-wrapper.flex.items-end.justify-between
              .mt-1
                .black-bottom
                  %span.time{ id: "timer-#{task.daily_task_id}", data: { target: 'stopwatch.timer', stopwatch_card: task.daily_task_id } }
                    = task.spent_time
                %div{ id: "goal-#{task.daily_task_id}" }
                  = task.full_time
          .right-card-side
            .btn.start-btn.bg-main-hoverable.text-light.shadow{ id: "start-#{task.daily_task_id}", data: { action: 'click->stopwatch#start', stopwatch_card: task.daily_task_id } }
              START
            .btn.stop-btn.text-light.shadow.bg-warning-hoverable.hidden{ id: "stop-#{task.daily_task_id}", data: { action: 'click->stopwatch#stop', stopwatch_card: task.daily_task_id } }
              STOP
            .text-center.text-2xl.mt-3
              - priority_symbol(priority: task.priority)
  #done.card-group.bg-light-main.rounded.px-4.py-4.mt-4.shadow.mb-6.relative{ class: 'sm:flex-1 sm:mx-2 lg:mx-6' }
    .card-top.flex.justify-between
      .card-title
        DONE
      #done-percent.rounded.shadow.px-1
        0%
    #nothing-done{ class: "#{'hidden' unless @done_tasks.empty?}" }
      %i.fas.fa-crow.block.absolute
      %i.fas.fa-cloud-moon.block.absolute
      .absolute
        Nothing done..
    - @done_tasks.each do |task|
      .card.px-4.py-4.bg-light.text-graphite.rounded.mt-2.shadow{ id: "task-#{task.daily_task_id}", data: { id: task.task_id } }
        .internal-card.flex.justify-between
          .left-card-side
            = task.name
            .time-wrapper.flex.items-end.justify-between
              .mt-1
                .black-bottom
                  %span.time.text-green{ id: "timer-#{task.daily_task_id}", data: { target: 'stopwatch.timer', stopwatch_card: task.daily_task_id } }
                    = task.spent_time
                  %span.text-green{ id: "plus-#{task.daily_task_id}" }
                    +
                %div{ id: "goal-#{task.daily_task_id}" }
                  = task.full_time
          .right-card-side
            - if task.fully_completed?
              .btn.start-btn.hidden-btn
            - else
              .btn.start-btn.text-main.border-main.border-main-hoverable{ id: "start-#{task.daily_task_id}", data: { action: 'click->stopwatch#start', stopwatch_card: task.daily_task_id } }
                START
              .btn.stop-btn.bg-warning-hoverable.text-light.shadow.hidden{ id: "stop-#{task.daily_task_id}", data: { action: 'click->stopwatch#stop', stopwatch_card: task.daily_task_id } }
                STOP
            .text-center.text-2xl.mt-3
              - priority_symbol(priority: task.priority)