= content_for :title, 'Resend confirmation instructions | Daily Manager'
= render 'shared/alerts'

.login-container.bg-light-gray
  .login-card
    .banner.logo.text-main
      Daily Manager
    .card
      %h2 Resend confirmation instructions
      = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .input
          = f.label :email
          = f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
        .actions.input
          = f.submit "Resend confirmation instructions", class: 'btn bg-main text-light'
        = render "devise/shared/links"
