
= content_for :title, 'Sign up | Daily Manager'
= render 'shared/alerts'

.login-container.bg-light-gray
  .login-card
    .banner.logo.text-main
      Daily Manager
    .card
      %h2 Sign up
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        = f.input :email
        = f.input :password do
          = f.password_field :password
          - if @minimum_password_length
            %p.form-subtitle
              (#{@minimum_password_length} characters minimum)
        = f.input :password_confirmation
        .actions.input
          = f.submit "Sign up", class: 'btn bg-main text-light'
        = render "devise/shared/links"
