- if controller_name == 'sessions'
  - if devise_mapping.omniauthable?
    .omniauth-btn-wrapper
      - resource_class.omniauth_providers.each do |provider|
        - last_used_class = provider.to_s.chomp('_oauth2') == cookies[:last_oauth] ? 'last-used' : nil
        = link_to omniauth_authorize_path(resource_name, provider), class: "btn omniauth-btn #{last_used_class}" do
          .omniauth-btn-content
            .omniauth-btn-img
              = image_tag "oauth/#{provider.to_s.chomp('_oauth2')}.png"
            .omniauth-btn-text
              = "Continue with #{OmniAuth::Utils.camelize(provider.to_s.chomp('_oauth2'))}"
  
.session-links
  - if controller_name != 'sessions'
    = link_to "Log in", new_session_path(resource_name)
    %br/
  - if devise_mapping.registerable? && controller_name != 'registrations'
    = link_to "Sign up", new_registration_path(resource_name)
    %br/
  - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
    = link_to "Forgot your password?", new_password_path(resource_name)
    %br/
  - if devise_mapping.confirmable? && controller_name != 'confirmations'
    = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)
    %br/
  - if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
    = link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name)
    %br/
