= content_for :title, 'History | Daily Manager'
= render 'shared/nav'

%main.px-5
  = render 'shared/alerts'
  
  .black-bottom.mx-0.w-48.text-center.lg:w-64.text-lg.mb-4.lg:mb-10.lg:text-2xl.mx-auto
    = month_long

  #month-calendar.card-group.bg-group.rounded.px-4.py-4.mt-4.shadow.mb-6.relative{ class: 'sm:flex-1 sm:mx-2 lg:mx-6' }
    .card-top.mb-2
      .calendar-title.card-title.flex.justify-between
        - 7.times do |i|
          .weekday.flex-1.text-center.font-bold
            = t("days.#{i.to_s}")
    .calendar-body.card.no-padding.bg-light
      - @month.weeks.each do |week|
        .calendar-row.flex.justify-between
          - week.days.each do |day|
            .day-tile.text-center.flex-1.relative{ class: "#{day_tile_bg(day.current?, day.weekend?)}" }
              .day-orb.text-light{ class: "#{day_orb_bg(day.current?)}" }
                = day.day_number
              .tasks-wrapper
                - day.tasks.each do |task|
                  .task-pill.card.relative{ class: "#{task_pill_bg(task.completed?, day.current?)}" }
                    .progress-bar.h-1.absolute.left-0.top-0{ class: "#{progress_bar_bg(task.completed?, day.current?)}", style: "width: #{task.percent};" }
                    = task.name
