= content_for :title, 'History | Daily Manager'
= render 'shared/nav'

%main.px-5
  = render 'shared/alerts'
  .flex.text-lg.mb-4.lg:mb-10.lg:text-2xl
    .flex-1
      %a.navigation-arrow.sm:px-4.sm:py-1
        %i.fas.fa-angle-double-left
    .black-bottom.mx-0.w-48.text-center.lg:w-56
      Monday, 25 March
    .flex-1.text-right
      %a.navigation-arrow.sm:px-4.sm:py-1
        %i.fas.fa-angle-double-right
  .tasks-wrapper{ class: 'sm:flex sm:justify-between sm:items-start', data: { controller: 'history-date'} }
    #to-do.card-group.bg-group.rounded.px-4.py-4.shadow.relative{ class: 'sm:flex-1 sm:mb-6 sm:mt-4 sm:mx-2 lg:mx-6'}
      .card-top.flex.justify-between
        .card-title
          NOT DONE
      #nothing-to-do.hidden
        %i.fas.fa-crown.block.absolute
        %i.fas.fa-hiking.block.absolute
        .absolute
          No tasks left!
      #task-0.card.relative.px-4.py-4.bg-light.rounded.mt-2.shadow{ data: { id: '11' } }
        .progress-bar.bg-warning.h-1.absolute.left-0.top-0.w-0{ style: 'width: 90%' }
        .internal-card.flex.justify-between
          .left-card-side
            Task Name
            .time-wrapper.flex.items-end.justify-between
              .mt-1
                .black-bottom
                  %span#timer-0.time.text-warning
                    00:13:30
                #goal-0
                  00:15:00
          .right-card-side.relative.w-5
            .text-center.text-2xl
              - priority_symbol(priority: 2, centered: true)
    #done.card-group.bg-light-main.rounded.px-4.py-4.mt-4.shadow.mb-6.relative{ class: 'sm:flex-1 sm:mx-2 lg:mx-6' }
      .card-top.flex.justify-between
        .card-title
          DONE
        #done-percent.rounded.shadow.px-1
          0%
      #nothing-done.hidden
        %i.fas.fa-crow.block.absolute
        %i.fas.fa-cloud-moon.block.absolute
        .absolute
          Nothing done..
      #task-2.card.px-4.py-4.bg-light.text-graphite.rounded.mt-2.shadow{ data: { id: '25' } }
        .internal-card.flex.justify-between
          .left-card-side
            Task Name
            .time-wrapper.flex.items-end.justify-between
              .mt-1
                .black-bottom
                  %span#timer-2.time.text-green
                    00:00:02
                  %span#plus-2.text-green +
                #goal-2
                  00:15:00
          .right-card-side.relative.w-5
            .text-center.text-2xl
              - priority_symbol(priority: 1, centered: true)
