$transition-duration: .25s

$light: #fafbfc
// #f7ebe8
$main: #7848c4
$light-main: #e6d8ff
$secondary: #008cff
$group: #f9edcd
$warning: #f16135
$red: #e53e3e
$yellow: #fff234
$yellow-light: #fff234
$black: #455962
$light-gray: #edf2f7
$green: lighten(#1fa260, 2%)
$lg-nav-width: 220px
$md-nav-width: 220px
$diamond-blue: #533eff
$wizard-green: lighten($green, 10%)
$sunny-yellow: #eae51f
$turqoise: #42edf7
$kiwi-green: #b1ffca


$shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06)

.card
    width: 400px
    margin-left: auto
    margin-right: auto
    margin-top: .5rem
    margin-bottom: 40px
    padding: 1rem
    box-shadow: $shadow
    border-radius: .25rem
    background-color: $light
    
.body
    width: 100%
    height: 100%
    background-color: $light-gray
    font-family: Arial, Helvetica, sans-serif
    padding: 20px

.bg-main, .bg-main-hoverable
        background-color: $main

.logo
    display: block
    width: 400px
    height: 100px
    margin-left: auto
    margin-right: auto
    margin-top: 20px

.text-light
    color: $light

.decoration-none
    text-decoration: none

.bg-main-hoverable
        transition-duration: $transition-duration
        cursor: pointer
        &:hover
            background-color: lighten($main, 10%)
        &:active
            background-color: darken($main, 5%)

.btn
    text-align: center
    display: block
    padding: .3rem .5rem
    border-radius: .25rem
    box-shadow: $shadow
    &:hover
        cursor: pointer