.text-kiwi-green
    color: $kiwi-green

.text-wizard-green
    color: $wizard-green

.text-turqoise
    color: $turqoise

.text-sunny-yellow
    color: $sunny-yellow

.text-green
    color: $green

.text-diamond-blue
    color: $diamond-blue    

.text-my-black
    color: $black

.text-light
    color: $light

.text-graphite
    color: $black

.text-yellow
    color: #f7be71

.text-light-yellow
    color: $yellow-light

.text-red
    color: $red

.text-main
    color: $main

.text-spec, span.text-spec
    color: $secondary

.text-light-spec
    color: lighten($secondary, 20%)

.text-light-warning
    color: lighten($warning, 20%)

.text-warning
    color: $warning

.text-green
    color: $green

body
    .bg-light
        background-color: $light

    .bg-light-green
        background-color: lighten($green, 45%)

    .bg-light-main
        background-color: $light-main

    .bg-light-gray
        background-color: $light-gray

    .bg-priority-2
        background-color: $warning

    .bg-priority-1
        background-color: #4299e1

    .bg-priority-0
        background-color: $green

    .bg-main, .bg-main-hoverable
        background-color: $main

    .bg-main-hoverable
        transition-duration: $transition-duration
        cursor: pointer
        &:hover
            background-color: lighten($main, 10%)
        &:active
            background-color: darken($main, 5%)

    .bg-warning, .bg-warning-hoverable
        background-color: $warning

    .bg-red
        background-color: $red

    .bg-red-hoverable
        transition-duration: $transition-duration
        cursor: pointer
        &:hover
            background-color: lighten($red, 10%)
        &:active
            background-color: darken($red, 5%)

    .bg-warning-hoverable
        transition-duration: $transition-duration
        cursor: pointer
        &:hover
            background-color: lighten($warning, 10%)
        &:active
            background-color: darken($warning, 5%)

    .bg-lighter-warning
        background-color: lighten($warning, 35%)

    .bg-light-warning
        background-color: lighten($warning, 20%)

    .bg-spec
        background-color: $secondary

    .bg-light-spec
        background-color: lighten($secondary, 40%)

    .bg-lighter-spec
        background-color: lighten($secondary, 47%)

    .bg-green
        background-color: $green

    .bg-group
        background-color: $group

    .bg-light-group
        background-color: lighten($group, 5%)

    .bg-overlay
        background-color: $black
        opacity: .3

    .bg-my-black
        background-color: $black
