.text-priority-2
    color: $warning

.text-priority-1
    color: #4299e1

.text-priority-0
    color: $green

body div.level-block
    border-radius: .5em
    margin: auto
    padding: .2em .5em
    max-width: 4em
    line-height: 1.2
    display: flex
    justify-content: space-evenly
    border: 1px solid $black

.avatar
    border-radius: 50%
