= content_for :title, 'Change password | Daily Manager'
= render 'shared/alerts'

.login-container.bg-light-gray
  .login-card
    .banner.logo.text-main
      Daily Manager
    .card
      %h2 Change your password
      = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
        = render "devise/shared/error_messages", resource: resource
        = f.hidden_field :reset_password_token
        = f.input :password do
          = f.password_field :password
          - if @minimum_password_length
            %p.form-subtitle
              (#{@minimum_password_length} characters minimum)
        = f.input :password_confirmation
        .actions.input
          = f.submit "Change my password", class: 'btn bg-main text-light'
        = render "devise/shared/links"