
= content_for :title, 'Forgot password | Daily Manager'
= render 'shared/alerts'

.login-container.bg-light-gray
  .login-card
    .banner.logo.text-main
      Daily Manager
    .card
      %h2 Forgot your password?
      = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = render "devise/shared/error_messages", resource: resource
        = f.input :email
        .actions.input
          = f.submit "Send reset password link", class: 'btn bg-main text-light'
        = render "devise/shared/links"
