#create-task-modal.hidden{ data: { action: 'ajax:success->schedule#taskCreated ajax:error->schedule#taskNotCreated' } }
  .modal-background{ data: { action: 'click->schedule#closeCreateTaskModal' } }
  .modal-container
    .modal.card.card-shadow.bg-light
      .modal-top
        .modal-title
          Create Task
        .modal-close-btn{ data: { action: 'click->schedule#closeCreateTaskModal' } }
          %i.fas.fa-times
      .modal-body
        = form_with(url: api_create_task_path, method: 'post', remote: true, class: 'w-full') do
          .task_name.input
            = label_tag(:name, 'Name')
            = text_field_tag(:name, nil)
          .task_priority.input
            = label_tag(:priority, 'Priority')
            = select(nil, :priority_id, Support::Priority.collection, {}, { class: 'input-mock' })
          .task_time.input
            = label_tag(:time, 'Time')
            = time_field(nil, :time, value: '00:00')
          .mb-6
          %div
            = submit_tag('Create', class: 'border-none modal-submit-btn btn bg-main bg-main-hoverable text-light')

