.card.card-hoverable.relative.bg-light{ class: "task-#{daily_task.task_id}", id: "task-per-day-#{daily_task.id}", draggable: 'true', data: { daily_task_id: daily_task.id, task_id: daily_task.task_id, action: "dragstart->schedule#dailyTaskDragStart dragend->schedule#dailyTaskDragEnd" } }
  = render 'delete_card', id: daily_task.id
  .flex.justify-between
    .left
      .name= daily_task.name
      .time-wrapper.flex.items-end.justify-between
        .mt-1
          .goal= daily_task.time
    .right.relative.mr-2.text-xl
      - priority_symbol(priority: daily_task.priority, centered: true)