.days-wrapper{ class: 'mt-6' }
  #left-day-arrow{ data: { action: "click->schedule#leftDay" } }
    %i.fas.fa-arrow-left
  - 7.times do |i|
    .day-of-the-week{ id: "day-#{i}" }
      .card-group.bg-group.rounded.px-4.py-4.shadow.relative{ class: 'mb-6 mt-4 mx-2 lg:mx-6', data: { day_id: i, action: "dragenter->schedule#dayDragEnter dragleave->schedule#dayDragLeave dragover->schedule#defaultDragOver drop->schedule#dayDragDrop" } }
        .card-title.day-name.text-center.text-2xl
          .day-card-plus-symbol.text-green.hidden
            - plus_symbol
          .day-card-ban-symbol.text-red.hidden
            - ban_symbol
          = t("days.#{i}")
        .cards-container
          - priority = 2
          - while priority > -1
            %div{ class: "priority-container-#{priority}" }
              - if @daily_tasks[i]
                - @daily_tasks[i].select { |dt| dt.priority == priority }.each do |dt|
                  = render 'daily_task', daily_task: dt
            - priority -= 1
  #right-day-arrow{ data: { action: "click->schedule#rightDay" } }
    %i.fas.fa-arrow-right