#edit-task-modal.hidden{ data: { action: 'ajax:success->schedule#taskEdited ajax:error->schedule#taskNotEdited' } }
  .modal-background{ data: { action: 'click->schedule#closeEditTaskModal' } }
  .modal-container
    .modal.card.card-shadow.bg-light
      .modal-top
        .modal-title
          Edit Task
        .modal-close-btn{ data: { action: 'click->schedule#closeEditTaskModal' } }
          %i.fas.fa-times
      .modal-body
        = form_with(url: api_update_task_path, method: 'put', remote: true, class: 'w-full') do
          = hidden_field_tag(:id)
          .task_name.input
            = label_tag(:name, 'Name')
            = text_field_tag(:name, nil)
          .task_priority.input
            = label_tag(:priority, 'Priority')
            = select(nil, :priority_id, Support::Priority.collection, {}, { class: 'input-mock' })
          .task_time.input
            = label_tag(:time, 'Time')
            = time_field(nil, :time)
          .mb-6
          .flex.justify-between
            = submit_tag('Update', class: 'border-none w-1/2 mr-1 btn bg-main bg-main-hoverable text-light')
            .delete-btn.btn.bg-red.bg-red-hoverable.text-light{ class: 'w-1/2 ml-1', data: { action: 'click->schedule#deleteTask' } }
              Delete

