.hidden
  - 3.times do |i|
    %div{ id: "priority-example-#{i}" }
      - priority_symbol(priority: i, centered: true)

.task-priority-wrapper
  #left-priority-arrow{ data: { action: "click->schedule#leftPriority" } }
    %i.fas.fa-arrow-left
  - 3.times do |i|
    .priority-card{ id: "priority-#{i}" }
      .card-group.bg-light-main.rounded.px-4.py-4.mt-4.shadow.mb-6.relative{ class: 'lg:mx-6' }
        .card-title.flex.justify-between{ class: "text-priority-#{i}" }
          %div
            - priority_symbol(priority: i)
            = t("priorities.#{i}")
          .btn.add-btn.bg-main-hoverable.text-light.shadow{ id: "add-#{i}", data: { action: 'click->schedule#openCreateTaskModal', priority: i } }
            %i.fas.fa-plus
        .card-body
          - @tasks[i].each do |t|
            = render 'task', task: t
  #right-priority-arrow{ data: { action: "click->schedule#rightPriority" } }
    %i.fas.fa-arrow-right
