.card.card-hoverable.relative.bg-light{ class: "task-#{task.id}", id: "task-#{task.id}", draggable: 'true', data: { task_id: task.id, priority: task.priority, action: "click->schedule#openEditTaskModal dragstart->schedule#taskDragStart dragend->schedule#taskDragEnd" } }
  .flex.justify-between
    .left
      .name= task.name
      .time-wrapper.flex.items-end.justify-between
        .mt-1
          .goal= task.time
    .right.relative.mr-2.text-xl
      - priority_symbol(priority: task.priority, centered: true)