-# Sounds have been taken from http://www.orangefreesounds.com/
= content_for :title, 'Schedule | Daily Manager'
= render 'shared/nav'

%main.px-5{ data: { controller: 'schedule' } }
  = render 'shared/alerts'
  .hidden
    #add-card-container
      .card.add-card.relative.bg-light.hidden
        .text-center.center-block
          - plus_symbol
    #delete-card-container
      = render 'delete_card', id: 1
    #new-task-container
      = render 'task', task: OpenStruct.new
  .text-lg.mb-4.lg:mb-10.lg:text-2xl
    .black-bottom.mx-auto.w-32.text-center.lg:w-64
      Schedule
  = render 'priorities'
  = render 'days'
  = render 'create_task_modal'
  = render 'edit_task_modal'