#lg-nav-list.bigger-nav-list.text-lg.hidden.z-50.fixed.left-0.top-0.h-screen.bg-main.py-5.text-light.lg:block
  .logo.text-center.mb-5.text-xl
    Daily Manager
  %ul.text-center
    %li.avatar-li{ class: @active[:my_account] }
      %a{ href: my_account_path }
        = image_tag(current_user.avatar_url, alt: 'Avatar', class: 'avatar')
        = current_user.name
        - level_symbol(current_user.level)
    %li#today-md-nav{ class: @active[:today] }
      %a.regular{ href: show_today_path }
        %i.fas.fa-stopwatch.block
        %div Today
    %li#schedule-md-nav{ class: @active[:schedule] }
      %a.regular{ href: show_schedule_path }
        %i.fas.fa-calendar-alt.block
        %div Schedule
    %li#history-md-nav{ class: @active[:history] }
      %a.regular{ href: show_history_path }
        %i.flex-2.fas.fa-history.block
        .flex-1 History
    %li#stats-md-nav{ class: @active[:stats] }
      %a.regular{ href: show_stats_path }
        %i.fas.fa-chart-line.block
        %div Stats
    - if current_user.admin?
      %li#stats-md-nav{ class: @active[:admin_panel] }
        %a.regular{ href: admin_root_path }
          %i.fas.fa-address-card.block
          %div Admin Panel
    %li
      %a.regular{"data-method" => "delete", href: destroy_user_session_path, rel: "nofollow"}
        %i.fas.fa-power-off.block.out
        %div Log out