#md-nav-list.hidden.bigger-nav-list.text-lg.z-50.fixed.left-0.top-0.h-screen.bg-main.py-5.text-light
  %ul.mt-3.text-center
    %li.mb-5.text-xl
      %i#close-md.fas.fa-times.block.px-2.py-2{ data: { action: 'click->nav#closeMediumNav' } }
    %li.avatar-li{ class: @active[:my_account] }
      %a{ href: my_account_path }
        = image_tag(current_user.avatar_url, alt: 'Avatar', class: 'avatar')
        = current_user.name
        - level_symbol(current_user.level)
    %li#today-md-nav{ class: @active[:today] }
      %a.regular{ href: show_today_path, data: { action: 'click->nav#visitLinkMedium' } }
        %i.fas.fa-stopwatch.block
        Today
    %li#schedule-md-nav{ class: @active[:schedule] }
      %a.regular{ href: show_schedule_path, data: { action: 'click->nav#visitLinkMedium' } }
        %i.fas.fa-calendar-alt.block
        Schedule
    %li#history-md-nav{ class: @active[:history] }
      %a.regular{ href: show_history_small_path, data: { action: 'click->nav#visitLinkMedium' } }
        %i.fas.fa-history.block
        History
    %li#stats-md-nav{ class: @active[:stats] }
      %a.regular{ href: show_stats_path, data: { action: 'click->nav#visitLinkMedium' } }
        %i.fas.fa-chart-line.block
        Stats
    - if current_user.admin?
      %li#stats-md-nav{ class: @active[:admin_panel] }
        %a.regular{ href: admin_root_path, data: { action: 'click->nav#visitLinkMedium' } }
          %i.fas.fa-address-card.block
          Admin Panel
    %li
      %a.regular{ "data-method" => "delete", href: destroy_user_session_path, rel: "nofollow" }
        %i.fas.fa-power-off.block.out
        Log out