#nav-active-overlay.w-screen.h-screen.bg-overlay.absolute.z-20.inset-0.hidden.md:hidden
#md-nav-active-overlay.w-screen.h-screen.bg-overlay.opacity-0.fixed.z-40.inset-0.hidden
%div{ data: { controller: 'nav' }}
  = render 'shared/lg_nav'
  = render 'shared/md_nav'

  .sticky-top.bg-main.px-4.py-4.text-light.fixed.z-30.w-full.top-0.lg:hidden
    .flex.items-center.px-4
      #burger.flex-1.text-xl.md:hidden
        %i#burger-icon.fas.fa-bars{ data: { action: 'click->nav#openSmallNav' } }
        %i#burger-close-icon.fas.fa-times.hidden{ data: { action: 'click->nav#closeSmallNav' } }
      #md-burger.flex-1.text-xl.hidden.md:block
        %i#md-burger-icon.fas.fa-bars{ data: { action: 'click->nav#openMediumNav' } }
      .logo.flex-2.text-xl
        Daily Manager
      .flex-1
    = render 'shared/sm_nav'