#nav-list.text-lg.hidden
  %ul.mt-3
    %li
      %a.block.py-2.px-2.mt-3.rounded.hover:bg-orange-400.active:bg-orange-500{ href: show_today_path, data: { action: 'click->nav#visitLinkSmall' } }
        %i.fas.fa-stopwatch
        Today
    %li
      %a.block.py-2.px-2.mt-3.rounded.hover:bg-orange-400.active:bg-orange-500{ href: show_schedule_path, data: { action: 'click->nav#visitLinkSmall' } }
        %i.fas.fa-calendar-alt
        Schedule
    %li
      %a.block.py-2.px-2.mt-3.rounded.hover:bg-orange-400.active:bg-orange-500{ href: show_history_small_path, data: { action: 'click->nav#visitLinkSmall' } }
        %i.fas.fa-history
        History
    %li
      %a.block.py-2.px-2.mt-3.rounded.hover:bg-orange-400.active:bg-orange-500{ href: '/stats', data: { action: 'click->nav#visitLinkSmall' } }
        %i.fas.fa-chart-line
        Stats
    %li
      %a.block.py-2.px-2.mt-3.rounded.hover:bg-orange-400.active:bg-orange-500{ href: my_account_path, data: { action: 'click->nav#visitLinkSmall' } }
        %i.fas.fa-user-circle
        My account
    %li
      %a.block.py-2.px-2.mt-3.rounded.hover:bg-orange-400.active:bg-orange-500{ "data-method" => "delete", href: destroy_user_session_path, rel: "nofollow" }
        %i.fa.fa-power-off 
        Log out