= content_for :title, 'Log in | Daily Manager'
= render 'shared/alerts'

.login-container.bg-light-gray
  .login-card
    .banner.logo.text-main
      Daily Manager
    .card
      = simple_form_for resource, as: resource_name, url: session_path(resource_name) do |f|
        = f.input :email
        = f.input :password, autocomplete: "current-password"
        - if devise_mapping.rememberable?
          = f.input :remember_me, as: :boolean
        .actions.input
          = f.submit "Log in", class: 'btn bg-main text-light'
        = render "devise/shared/links"
