= content_for :title, 'My Account | Daily Manager'
= content_for :body_class, 'bg-gray-200'
= render 'shared/nav'

%main.px-5{ data: { controller: 'account', action: 'ajax:success->account#userUpdated ajax:error->account#userNotUpdated' }  }
  = render 'shared/alerts'

  %section.account-details.card
    .black-bottom.mx-0.w-48.text-center.lg:w-64.text-lg.mb-4.lg:text-2xl.mx-auto
      My Account
    .flex
      .avatar-wrapper
        = image_tag(current_user.avatar_url, alt: 'Avatar', class: 'avatar')
        - level_symbol(current_user.level)

      = simple_form_for current_user, url: api_update_user_path, method: :put, remote: true do |f|
        .input-group
          - input_mock('Avatar source', current_user.avatar_source.capitalize, false)
          - input_mock('Account type', current_user.account_type.capitalize, false)
        .input-group
          = f.input :display_name
          = f.input :email
        .input-group
          = f.input :timezone, collection: User.timezones.to_a, disabled: !current_user.blocked_timezone?
        .input-group
          = f.input :auto_timezone, as: :boolean, label: "Auto timezone"
        .input-group
          .input
            = f.button :submit, 'Save Changes', class: 'bg-main bg-main-hoverable text-light'



