// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import active_admin/mixins
@import active_admin/base
@import font-awesome-sprockets
@import font-awesome

@import shared/variables
@import shared/symbols
@import shared/colors

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.priority-symbol
    font-size: 1rem

body.active_admin div.level-block
    margin: 0

.flex
    display: flex

.w-full
    width: 100%

.w-6\/12
    width: 50%

.subsection
    margin-bottom: 2rem

.hidden
    display: none
