// @import /*
@import font-awesome-sprockets
@import font-awesome
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Yellowtail&display=swap')

@import shared/variables
@import shared/symbols
@import shared/colors

$shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06)

// font-family: 'Architects Daughter', cursive
@media screen and ( max-width: 500px )
    body main .account-details 
        .flex
            display: block
        .avatar-wrapper
            padding: 1.5rem

    .priority-card
        display: none
    #priority-0
        display: block
    .day-of-the-week
        display: none
    #day-0
        display: block
    
    main .task-priority-wrapper, main .days-wrapper
        display: flex
        justify-content: center
        align-items: center
    main .task-priority-wrapper .priority-card, main .days-wrapper .day-of-the-week
        min-width: 0
        max-width: 100%
        margin-left: 0
        margin-right: 0
        flex: 1 1 0%
    main .days-wrapper .day-of-the-week
        margin-top: 2rem
    main #left-priority-arrow, main #right-priority-arrow, main #left-day-arrow, main #right-day-arrow
        display: block
        padding-left: .3rem
        padding-right: .3rem
        font-size: 1.4rem

    body main div.visible-schedule
        display: block
    body main div.hidden-schedule, body main #priority-0.hidden-schedule, body main #day-0.hidden-schedule
        display: none

    body .modal-container div.modal
        width: 70vw

@media screen and ( max-width: 800px )
    body div.banner.logo
        font-size: 2.5rem

    body main form.simple_form
        .input-group
            display: block
            max-width: none
            .input
                max-width: 100%

@media screen and ( min-width: 501px ) and ( max-width: 800px )
    main .days-wrapper
        margin-left: .5rem
        margin-right: .5rem
    main .days-wrapper .day-of-the-week
        flex: 0 0 50%
        margin-left: -0.5rem
        margin-right: -0.5rem

    main .task-priority-wrapper
        display: flex
        flex-wrap: wrap
        justify-content: space-evenly
        align-items: flex-start
    main .task-priority-wrapper .priority-card
        flex: 0 0 50%
        
    main .task-priority-wrapper .card-group
        margin-left: .5rem
        margin-right: .5rem
        margin-bottom: 0

@media screen and ( min-width: 801px )
    main .task-priority-wrapper
        display: flex
        justify-content: space-between
        align-items: flex-start
    
    main .priority-card
        flex: 0 0 33%


@media screen and ( min-width: 1024px )
    main
        margin-left: $lg-nav-width
        padding-top: 2rem
        .info
            width: calc(100% - #{$lg-nav-width})

    body .modal-container div.modal
        width: 350px

@media screen and ( max-width: 1023px )
    main
        margin-top: 62px
        padding-top: 2rem
        #info
            margin-top: -38px

@media screen and ( min-width: 780px ) and ( max-height: 720px )
    body .bigger-nav-list
        ul
            margin-top: -0.8rem
        li.avatar-li
            margin-top: calc(.9rem + .5px)
            margin-bottom: 0
            text-align: center
        li i#close-md
            text-align: center
        li
            text-align: left
            a.regular i.fas
                padding: .25rem 0
                width: 2.5rem
            a.regular
                display: flex

.login-card
    .input
        max-width: 100%
    input[type="submit"]
        width: 100%

.omniauth-btn-wrapper
    .omniauth-btn.last-used
        background-color: lighten($light-main, 5%)
    .omniauth-btn
        &:hover
            background-color: $light-gray
        display: flex
        justify-content: space-around
        margin: .25rem 0
        transition-duration: $transition-duration
        .omniauth-btn-content
            display: flex
        .omniauth-btn-img img
            width: 1.5rem
        .omniauth-btn-text
            padding: 0 .2rem

.session-links
    a
        color: $secondary
        transition-duration: $transition-duration
        &:hover
            color: lighten($secondary, 15%)

*
    box-sizing: border-box

.center-block
    display: block
    left: 50%
    top: 50%
    position: absolute
    transform: translate(-50%, -50%)

.info
    height: 2.5rem
    margin-top: -100px
    width: 100%
    color: $light
    text-align: center
    display: flex
    position: fixed
    padding: 7px
    top: 0
    z-index: 20
    p
        margin: auto

main
    .info
        margin-left: -1.25rem
        margin-right: -1.25rem

#info.notice
    background-color: $secondary

#info.alert
    background-color: $warning

.logo
    font-family: 'Yellowtail', cursive

.banner.logo
    display: block
    margin-left: auto
    margin-right: auto
    font-size: 3.5rem
    text-align: center
    padding: 2rem

.login-container
    position: relative
    width: 100vw
    height: 100vh

.login-card
    min-width: 300px
    position: absolute
    display: block
    top: 45%
    left: 50%
    transform: translate(-50%, -50%)

body
    .input
        max-width: 300px
        margin-bottom: .5rem
        padding: .25rem 0
    .w-full
        .input
            max-width: none
    input[type="checkbox"]
        margin-right: .25rem
    input[type="text"], input[type="email"], input[type="number"], input[type="password"], input[type="time"], select, .input-mock
        width: 100%
        padding: .25rem .5rem
        border: 1px solid darken($light-gray, 10%)
        border-radius: .25rem
        background-color: $light
        box-shadow: $shadow
        &:disabled
            background-color: $light-gray
            opacity: .7
    label, .label-mock
        padding: .25rem 0
        display: block
        font-size: .875rem
        font-weight: 700
    input.disabled, .input-mock.disabled
        cursor: default
        background-color: $light-gray
        opacity: .7



a.navigation-arrow
    cursor: pointer
    transition-duration: $transition-duration
    &:hover
        color: $secondary
    &:active
        color: darken($secondary, 10%)

.border-main, div.border-main
    border: 1px solid $main

.border-main-hoverable
    transition-duration: $transition-duration
    cursor: pointer
    &:hover
        background-color: lighten($main, 50%)

#nav-list
    li a
        transition-duration: $transition-duration

body .bigger-nav-list
    li.active > a
            background-color: $secondary
            &:hover
                background-color: lighten($secondary, 5%) 
            &:active
                background-color: darken($secondary, 5%) 

#md-burger-icon
    cursor: pointer

.bigger-nav-list
    li
        text-align: center
        margin-top: .25rem
        margin-bottom: .25rem
        cursor: pointer
        a
            display: block
            padding: 1rem 2rem
            transition-duration: $transition-duration
            .out
                transition-duration: $transition-duration
            &:hover
                background-color: lighten($main, 5%)
                .out
                    color: $warning
            &:active
                background-color: darken($main, 5%)
    li.avatar-li
        margin-top: 2rem
        a
            padding: 1rem 2rem
            background-color: lighten($main, 10%)
            &:hover
                background-color: lighten($main, 15%)
            &:active
                background-color: lighten($main, 5%)
    .avatar
        width: 3rem
        border-radius: 50%
        margin-left: auto
        margin-right: auto
        margin-bottom: .6rem

#md-nav-list
    left: -$md-nav-width
    width: $md-nav-width

body
    #lg-nav-list
        width: $lg-nav-width
        li.avatar-li
            margin-top: 0

.simple_form
    padding: .5rem

.account-details
    .input-group
        display: flex
        justify-content: space-between
        max-width: 600px
        .input
            padding-left: 1rem
            padding-right: 1rem
            max-width: 50%
            flex: 1 1 0%
    .avatar-wrapper
        padding: 2rem
        .avatar
            margin-left: auto
            margin-right: auto
            width: 100px
            height: 100px
            margin-bottom: 1rem

.form-error, .form-subtitle, span.error
    font-style: italic
    font-size: .75rem
.form-error, span.error
    color: $warning

#error_explanation
    color: $warning
    font-size: .75rem

.with-error
    input[type="text"], input[type="email"], input[type="number"], input[type="password"], input[type="time"], select, .input-mock
        border-color: $warning

.opacity-0
    opacity: 0

main
    color: $black
    position: relative
    margin-bottom: 1.5rem
    .black-bottom
        border-bottom: 2px solid lighten($black, 10%)
        border-radius: 2px

.card
    padding: 1rem
    margin-top: .5rem
    box-shadow: $shadow
    border-radius: .25rem
    background-color: $light

.card.no-padding, .no-padding
    padding: 0

div.card.card-shadow
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06) !important

.card-hoverable
    &:hover
        cursor: pointer
        opacity: 0.95

body div.block
    display: block

// ================ History ================

main
    .calendar-row
        &:first-child
            .day-tile
                &:first-child
                    border-top-left-radius: .25rem
                &:last-child
                    border-top-right-radius: .25rem
        &:last-child
            .day-tile
                &:first-child
                    border-bottom-left-radius: .25rem
                &:last-child
                    border-bottom-right-radius: .25rem
    .day-tile
        min-height: 5rem
        border-right: 1px solid darken($light-gray, 35%)
        &:last-child
            border-right: none
        
        .day-orb
            font-size: .8rem
            position: absolute
            top: .2rem
            left: .2rem
            border-radius: 50%
            padding: .25em
            height: 2em
            width: 2em

        .tasks-wrapper
            margin-top: 2rem
            font-size: .8rem
            padding-bottom: .5rem
            padding-right: .2rem
            padding-left: .2rem
            .task-pill
                padding: .2em
                border-radius: .35em

    #small-calendar
        .day-tile
            min-height: 20rem
        .day-box
            font-size: .8rem
            position: absolute
            top: .2rem
            left: .2rem
            border-radius: .35rem
            padding: .25em
            height: 2em
            width: 3em


    .calendar-row
        border-bottom: 1px solid lighten($black, 30%)
        &:last-child
            border-bottom: none

// ================ Today ================

@keyframes spin
    100%
        transform: rotate(360deg)

.spinner
    font-size: 2rem
    top: 50%
    left: 50%
    position: absolute
    transform: translate(-50%, -50%)
    z-index: 10

.spinner i
    animation: spin 1.5s linear infinite

.placeholder-card
    min-height: 94px
    opacity: .6

.progress-bar
    border-top-left-radius: .25rem
    border-bottom-right-radius: .25rem
    border-top-right-radius: .25rem

.rounded-right
    border-bottom-right-radius: .25rem
    border-top-right-radius: .25rem

.btn
    text-align: center
    display: block
    padding: .3rem .5rem
    border-radius: .25rem
    box-shadow: $shadow
    &:hover
        cursor: pointer

.add-btn
    padding-top: 2px
    padding-bottom: 2px

.start-btn, .stop-btn
    width: calc(5ch + 1rem)
    border: 1px solid transparent

.hidden-btn
    color: transparent
    height: 36px
    box-shadow: none
    cursor: none

#nothing-to-do
    height: 292px
    .fa-hiking
        font-size: 8rem
        left: 47%
        top: 50%
        transform: translate(-50%, -50%)
    .fa-crown
        font-size: 1.5rem
        left: 48%
        top: calc(50% - 4.5rem)
        transform: translate(-50%, -50%) rotate(-25deg)
    div
        font-size: 2rem
        bottom: 1.6rem
        left: 0
        width: 100%
        text-align: center

#done-percent
    transition-duration: $transition-duration

.progress-0
    background-color: $red
    color: $light

.progress-25
    background-color: $warning
    color: $light

.progress-50
    background-color: darken($yellow, 10%)
    color: $black

.progress-75
    background-color: lighten($secondary, 10%)
    color: $light

.progress-100
    background-color: lighten($green, 10%)
    color: $black

#nothing-done
    height: 292px
    .fa-cloud-moon
        font-size: 8rem
        left: 47%
        top: 50%
        transform: translate(-50%, -50%)
    .fa-crow
        font-size: 1.5rem
        left: 52%
        top: calc(50% - 4.5rem)
        transform: translate(-50%, -50%) rotate(-2deg)
    div
        font-size: 2rem
        bottom: 1.6rem
        left: 0
        width: 100%
        text-align: center

// ================ Schedule ================

.modal-background
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background-color: #000
    opacity: .3
    z-index: 1000

.modal-container
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 1001

    .modal-top
        display: flex
        justify-content: space-between
        margin-bottom: 1.5rem

    .modal-close-btn
        font-size: 1.3rem
        text-align: center
        padding: .20rem .5rem
        cursor: pointer
        transition-duration: $transition-duration
        &:hover
            opacity: .8

    .modal-title
        font-size: 1.5em

    .modal
        margin: 10px
        width: 50vw
        color: $black

    .modal-submit-btn
        width: 100%


.dragged-over *
    pointer-events: none

.add-card
    border: 3px dashed $green
    color: $green
    font-size: calc(2rem - 2px)
    text-align: center
    opacity: .7
    height: 5.25rem

.delete-card
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    border: 3px dashed $red
    background-color: $light
    color: $red
    opacity: .7
    font-size: calc(2rem - 2px)
    text-align: center
    .trash-icon
        text-align: center

.day-name
    font-family: 'Architects Daughter', cursive

.days-wrapper
    display: flex
    flex-wrap: wrap
    align-items: flex-start
    justify-content: space-evenly

.days-wrapper .day-of-the-week
    flex: 0 0 33.33%

.day-of-the-week
    .card
        cursor: grab

.priority-card .card-group
    margin-left: .5rem
    margin-right: .5rem

#left-priority-arrow, #right-priority-arrow, #left-day-arrow, #right-day-arrow
    display: none

.dragged
    opacity: .6 !important
    transition-duration: $transition-duration

body main .dragged-to-delete, body main div.dragged-to-delete
    color: transparent

.day-card-plus-symbol, .day-card-ban-symbol
    position: absolute
    right: 1rem

// ================ Stats ================

main.stats
    .card
        margin: .5rem
        position: relative
    .chart
        margin-top: 1rem
    #hours-btn
        top: 1rem
        right: 1rem
        position: absolute
