%p
  Welcome #{@email}!
%p You can confirm your account email through the link below.
= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token), class: 'btn bg-main text-light decoration-none', :style => button_styles
