= content_for :title, 'Stats | Daily Manager'
= content_for :body_class, 'bg-gray-200'
= render 'shared/nav'

- orange = ::Support::Colors::ORANGE
- green = ::Support::Colors::GREEN
- blue = ::Support::Colors::BLUE

%main.stats.px-5{ data: { controller: 'stats' } }
  = render 'shared/alerts'

  %div{ class: "lg:flex" }
    %section.card{ class: "lg:w-1/3" }
      .black-bottom.mx-0.w-48.text-center.lg:w-64.text-lg.mb-4.lg:text-2xl.mx-auto
        Tasks per priority
      .chart
        = pie_chart @stats.tasks_count_per_priority, donut: true, colors: [green, blue, orange]
    %section#day_of_week.card{ class: "lg:w-2/3" }
      .black-bottom.mx-0.w-48.text-center.lg:w-64.text-lg.mb-4.lg:text-2xl.mx-auto
        Tasks per day
      #hours-btn
        %label{ for: 'hours_day_of_week' }
          %input#hours_day_of_week{ type: 'checkbox', name: 'hours_day_of_week', checked: @hours_in_chart[:day_of_week], data: { action: 'click->stats#toggleChartHours' } }
          = 'Hours'
      %div{ class: "xl:flex" }
        .chart
          = column_chart @stats.daily_tasks_count_per_day, ytitle: 'Tasks', colors: [orange]
        .chart.minutes{ class: @hidden_charts[:day_of_week][:minutes] }
          = column_chart @stats.assigned_tasks_minutes_per_day_of_week, ytitle: 'Minutes', colors: [blue]
        .chart.hours{ class: @hidden_charts[:day_of_week][:hours] }
          = column_chart @stats.assigned_tasks_hours_per_day_of_week, ytitle: 'Hours', colors: [blue]
  .flex
    %section#this_week.card.w-full
      .black-bottom.mx-0.w-48.text-center.lg:w-64.text-lg.mb-4.lg:text-2xl.mx-auto
        This week
      #hours-btn
        %label{ for: 'hours_this_week' }
          %input#hours_this_week{ type: 'checkbox', name: 'hours_this_week', checked: @hours_in_chart[:this_week], data: { action: 'click->stats#toggleChartHours' } }
          = 'Hours'
      .chart.minutes{ class: @hidden_charts[:this_week][:minutes] }
        = column_chart @stats.minutes_spent_on_tasks_this_week, ytitle: 'Minutes', colors: [green, blue]
      .chart.minutes{ class: @hidden_charts[:this_week][:minutes] }
        = column_chart @stats.minutes_spent_per_task_this_week, ytitle: 'Minutes', colors: [green, blue]
      .chart.hours{ class: @hidden_charts[:this_week][:hours] }
        = column_chart @stats.hours_spent_on_tasks_this_week, ytitle: 'Hours', colors: [green, blue]
      .chart.hours{ class: @hidden_charts[:this_week][:hours] }
        = column_chart @stats.hours_spent_per_task_this_week, ytitle: 'Hours', colors: [green, blue]

  .flex
    %section#last_week.card.w-full
      .black-bottom.mx-0.w-48.text-center.lg:w-64.text-lg.mb-4.lg:text-2xl.mx-auto
        Last week
      #hours-btn
        %label{ for: 'hours_last_week' }
          %input#hours_last_week{ type: 'checkbox', name: 'hours_last_week', checked: @hours_in_chart[:last_week], data: { action: 'click->stats#toggleChartHours' } }
          = 'Hours'
      .chart.minutes{ class: @hidden_charts[:last_week][:minutes] }
        = column_chart @stats.minutes_spent_on_tasks_last_week, ytitle: 'Minutes', colors: [green, blue]
      .chart.minutes{ class: @hidden_charts[:last_week][:minutes] }
        = column_chart @stats.minutes_spent_per_task_last_week, ytitle: 'Minutes', colors: [green, blue]
      .chart.hours{ class: @hidden_charts[:last_week][:hours] }
        = column_chart @stats.hours_spent_on_tasks_last_week, ytitle: 'Hours', colors: [green, blue]
      .chart.hours{ class: @hidden_charts[:last_week][:hours] }
        = column_chart @stats.hours_spent_per_task_last_week, ytitle: 'Hours', colors: [green, blue]