!!!
%html
  %head
    %meta{ content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/

  %body
    .body{ style: body_styles }
      = image_tag("#{AppRouter.url(:root)}logo.png", height: 100, width: 400, class: 'logo', style: "display: block;width: 400px;height: 100px;margin-left: auto;margin-right: auto;margin-top: 20px;")
      .card{ style: card_styles }
        = yield

