!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    :css
      .card {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
        margin-top: 0.5rem;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        border-radius: 0.25rem;
        background-color: #fafbfc;
        margin-bottom: 40px
      }

      .body {
        padding: 20px;
        width: 100%;
        height: 100%;
        background-color: #edf2f7;
        font-family: Arial, Helvetica, sans-serif;
      }

      .bg-main, .bg-main-hoverable {
        background-color: #7848c4;
      }

      .logo {
        display: block;
        width: 400px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
      }

      .text-light {
        color: #fafbfc;
      }

      .decoration-none {
        text-decoration: none;
      }

      .bg-main-hoverable {
        transition-duration: 0.25s;
        cursor: pointer;
      }
      .bg-main-hoverable:hover {
        background-color: #946fd0;
      }
      .bg-main-hoverable:active {
        background-color: #6b3bb7;
      }

      .btn {
        text-align: center;
        display: block;
        padding: 0.3rem 0.5rem;
        border-radius: 0.25rem;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
      }
      .btn:hover {
        cursor: pointer;
      }

  %body
    .body
      = image_tag("#{AppRouter.url(:root)}logo.png", height: 100, width: 400, class: 'logo')
      .card
        = yield
